* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables/extend';

header {
    //estilos header
    margin: 0px;
    padding: 20px;
    height: 100px;
    background-color: #210825;
    justify-content: space-between;

    nav{
        @extend %estiloFondo;
        ul {
            //estilos ul
            list-style-type: none;
            @extend %estiloFondo;
            justify-content: space-around;
            li {
                a {
                    //estilo de las anclas
                    font-size: 1.5rem;
                    line-height: 1.8;
                    text-decoration: none;
                    border: none;
                    padding-right: 30px;
                    @include textStyle(#d6c5db);
                }
            }
        }
    }
}

main {
    margin: 20px;
    padding: 20px;
    background-color: white;

    section {

        img {
            width: 200px;
            height: 200px;
            align-items: center;

            &:hover {
                transform: scale(1.05);
                transition: .4s;
            }
        }
    }
}

footer {
    margin: 0px;
    padding: 20px;
    height: 100px;
    background-color: #210825;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: space-between;

    ul {
        list-style-type: none;
        align-content: space-around;
        @extend %estiloFondo;

        li {
            @include textStyle(#d6c5db);
            font-size: 1.5rem;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.8;
            text-decoration: none;
            border: none;
            padding-right: 30px;
            font-weight: bold;
        }
    }
}


.titulos {
    @include textStyle(#260a2e)
}

.parrafos {
    @include textStyle(#260a2e)
}
